<form #form="ngForm"
    (ngSubmit)="onSubmit()"
    *ngIf="active"
>
    {{ form.valid }}
    <div class="form-group"
        [ngClass]="{'has-error': name.invalid && name.touched }"
    >
        <input type="text" class="form-control" required name="name"
            placeholder="Name"
            [(ngModel)]="newUser.name"
            #name="ngModel"
        >
        <span class="help-block"
            *ngIf="name.invalid && name.touched"
        >Name is required</span>
    </div>
    <div class="form-group"
        [ngClass]="{'has-error': username.invalid && username.touched }"
    >
        <input type="text" class="form-control" required name="username"
            placeholder="User Name"
            [(ngModel)]="newUser.username"
            #username="ngModel"
        >
        <span class="help-block"
            *ngIf="username.invalid && username.touched"
        >Username is required</span>
    </div>
    <button class="btn-lg btn-block btn-primary" type="submit"
        [disabled]="form.invalid"
    >
        Create User
    </button>
</form>