<header>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">This is my App</a>
        </div>
    </nav>
</header>
<main>
    <div class="row">
        <div class="col-sm-4">
            
            <ul  class="list-group users-list">
                <li class="list-group-item"
                    *ngFor="let user of asyncUsers | async"
                    (click)="selectUser(user)"
                    [class.active]="user == activeUser"
                >
                    {{user.name}} ({{user.username}})
                </li>
            </ul>
            <user-form></user-form>
            
        </div>
        <div class="col-sm-8">
            <user-profile [user]="activeUser"></user-profile>
            <div class="jumbotron"
                *ngIf="!activeUser"
            >
                <span class="glyphicon glyphicon-hand-left"></span>
                <h2>Choose a user</h2>
            </div>
        </div>
    </div>
    

    
</main>

<footer class="text-center">
    Copyright &copy; 2016
</footer>